[submodule "Typography"]
	path = Typography
	url = ../../samhocevar-forks/typography.git
	branch = emoji.wpf

[submodule "UnicodeCLDR"]
	path = Emoji.Wpf/UnicodeCLDR
	url = ../../unicode-org/cldr.git
[submodule "UnicodeEmoji"]
	path = Emoji.Wpf/UnicodeEmoji
	url = ../../samhocevar/unicode-emoji.git
